<a href="https://colab.research.google.com/github/davidivan13/Python-Fundamental/blob/main/advance_regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Find all matched substring occurence

---

In [ ]:
while ($string =~ m/regex/g) {
  print "Ditemukan '$&'.  kemunculan selanjutnya pada karakter " . pos($string)+1 . "\n";
}

## VS

In [ ]:
 import re

 re.findall(pattern, string[, flags])

findall mengembalikan semua kecocokan pola yang tidak tumpang tindih dalam string, sebagai daftar string. String dipindai dari kiri ke kanan, dan kecocokan dikembalikan sesuai urutan ditemukannya.

In [ ]:
 import re

t="A fat cat doesn't eat oat but a rat eats bats."
mo = re.findall("[a-z]at", t)
print(mo)



```
# This is formatted as code
```

Jika satu atau lebih grup ada dalam pola, findall mengembalikan list group. Ini akan menjadi daftar tupel jika polanya memiliki lebih dari satu grup. Kita menunjukkan ini dalam contoh kita berikutnya. Kita memiliki rangkaian panjang dengan berbagai kursus pelatihan Python dan tanggalnya. Dengan panggilan pertama ke findall, kita tidak menggunakan pengelompokan apa pun dan sebagai hasilnya menerima string lengkap. Dalam panggilan berikutnya, kita menggunakan pengelompokan dan findall mengembalikan daftar 2-tupel, masing-masing memiliki nama kursus sebagai komponen pertama dan tanggal sebagai komponen kedua:

In [ ]:
import re
courses = '''Python Training Course for Beginners: 15/Aug/2011 - 19/Aug/2011; Python Training Course Intermediate: 12/Dec/2011 - 16/Dec/2011;Python Text Processing Course:31/Oct/2011 - 4/Nov/2011'''
items = re.findall("[^:]*:[^;]*;?", courses)
print (items)

In [ ]:
items = re.findall("([^:]*):([^;]*;?)", courses)
items

In [ ]:
import re
courses = '''Python Training Course for Beginners: 15/Aug/2011 - 19/Aug/2011; Python Training Course Intermediate: 12/Dec/2011 - 16/Dec/2011;Python Text Processing Course:31/Oct/2011 - 4/Nov/2011'''
items = re.findall("[^:]*:[^;]*;?", courses)
items

# Alternation (Substitusi)

In [ ]:
import re
str = "Course location is London or Strasbourg!"
mo = re.search(r"location.*(London|Jakarta|Bandung|Strasbourg)",str)
if mo: print(mo.group())

Jika Anda menganggap contoh sebelumnya terlalu artifisial, ini satu lagi. Mari kita asumsikan, Anda ingin memfilter email Anda. Anda ingin menemukan semua korespondensi (percakapan) antara Anda dan Tutor MySkill. Ekspresi reguler berikut berguna untuk tujuan ini:

In [ ]:
from re import IGNORECASE
import re
z = "i live in Bekasi"
y = re.search("live.*(Jakarta|Depok|Bekasi|Bogor)", z, flags= re.IGNORECASE)
if y: print(y.group())

r"(^To:|^From:) (Tutor|My Skill)"



```
# This is formatted as code
```

Ekspresi ini cocok dengan semua baris yang dimulai dengan 'To:' atau 'From:', diikuti dengan spasi dan kemudian dengan nama depan 'My' atau nama blakang.'My Skill'.

# Splitting String dengan dan tanpa RegEx

## Split tanpa Regex

str.split([sep[, maxsplit]])

In [ ]:
law_courses = "Let reverence for the laws be breathed by every American mother to the lisping babe that prattles on her lap. Let it be taught in schools, in seminaries, and in colleges. Let it be written in primers, spelling books, and in almanacs. Let it be preached from the pulpit, proclaimed in legislative halls, and enforced in the courts of justice. And, in short, let it become the political religion of the nation."
law_courses.split()

**Sekarang** kita melihat string, yang dapat berasal dari file calc Excel atau OpenOffice. Kita telah melihat pada contoh sebelumnya bahwa split mengambil spasi putih sebagai pemisah default. Kita ingin membagi string dalam contoh kecil berikut menggunakan titik koma sebagai pemisah. Satu-satunya hal yang harus kita lakukan adalah menggunakan ";" sebagai argumen split():

In [ ]:
line = "Faras;Tata;Fauziah;Pearl"
line.split(";")

# Metode split() memiliki parameter opsional lain: maxsplit. Jika maxsplit diberikan, paling banyak maxsplit split dilakukan. Ini berarti daftar yang dihasilkan akan memiliki paling banyak elemen "maxsplit + 1". Kita akan mengilustrasikan mode operasi maxsplit dalam contoh berikut:

In [ ]:
mammon = "The god of the world's leading religion. The chief temple is in the holy city of New York."
mammon.split(" ",3)

Kita menggunakan Kosong sebagai string pembatas pada contoh sebelumnya, yang dapat menjadi masalah: Jika beberapa kosong atau spasi terhubung, split() akan membagi string setelah setiap kosong, sehingga kita akan mendapatkan string dan string kosong hanya dengan tab di dalam ('\t') dalam daftar hasil kita:

In [ ]:
mammon = "The god  \t of the world's leading religion. The chief temple is in the holy city of New York."
mammon.split(" ",5)

Kita dapat mencegah pemisahan string kosong dengan menggunakan None sebagai argumen pertama. Sekarang split akan menggunakan perilaku default, yaitu setiap substring yang terdiri dari karakter spasi putih yang terhubung akan diambil sebagai satu pemisah:

In [ ]:
mammon.split(None,5)

## Split dengan Regex

* *italicized text*Metode* string split() adalah alat yang tepat dalam banyak kasus, tetapi apa, jika Anda mau, mis. untuk mendapatkan kata-kata kosong dari sebuah teks, yaitu tanpa karakter khusus dan spasi. Jika kita menginginkan ini, kita harus menggunakan fungsi split dari modul re. Kita mengilustrasikan metode ini dengan teks singkat dari awal Metamorphoses oleh Ovid:

In [ ]:
import re
metamorphoses = "OF bodies chang'd to various forms, I sing: Ye Gods, from whom these miracles did spring, Inspire my numbers with coelestial heat;"
re.split("\W+",metamorphoses)

Contoh berikut adalah kasus yang bagus, di mana ekspresi reguler benar-benar lebih unggul daripada pemisahan string. Mari kita asumsikan bahwa kita memiliki baris data dengan nama keluarga, nama depan, dan nama profesi. Kita ingin menghapus baris data dari deskripsi teks yang berlebihan dan berlebihan, yaitu "nama keluarga: ", "nama depan: " dan seterusnya, sehingga kita hanya memiliki nama keluarga di kolom pertama, nama pertama di kolom kedua dan profesi di kolom ketiga:

In [ ]:
import re
lines = ["surname: Nelson, prename: Mandela, profession: president", "surname: Merkel, prename: Skylar, profession: chancellor"]
for line in lines:
    print(re.split(",* *\w*: ", line))

Kita dapat dengan mudah meningkatkan skrip dengan menggunakan operator slice, sehingga kita tidak memiliki string kosong sebagai elemen pertama dari daftar hasil kita:

In [ ]:
import re
lines = ["surname: Nelson, prename: Mandela, profession: president", "surname: Merkel, prename: Skylar, profession: chancellor"]
for line in lines:
    print(re.split(" *\w*, ", line)[1:])

# Search dan Replace dengan sub()

---

re.sub(regex, replacement, subject)

In [ ]:
import re
str = "yes I said yes I will Yes."
res = re.sub("[Yy]es","NO", str)
print(res)