<a href="https://colab.research.google.com/github/davidivan13/Python-Fundamental/blob/main/Basic_Database_Interaction_(Introductory).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple

## contoh 1

Koneksi ke Basis Data SQLite

In [5]:
import sqlite3

# Membuka koneksi ke database (jika tidak ada, maka akan dibuat)
conn = sqlite3.connect('mydatabase.db')

# Membuat kursor
cursor = conn.cursor()

# Menutup koneksi
# conn.close()

Penjelasan:

Dalam contoh ini, kita menggunakan modul sqlite3 untuk terhubung ke basis data SQLite.

Koneksi dibuka ke database, dan sebuah kursor dibuat untuk menjalankan perintah SQL.

Setelah operasi selesai, koneksi ditutup.

## contoh 2

Membuat Tabel dan Memasukkan Data

In [6]:
import sqlite3

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

# Membuat tabel 'mahasiswa'
cursor.execute('''CREATE TABLE mahasiswa (nama TEXT, usia INT)''')

# Memasukkan beberapa data
data_mahasiswa = [
    ('Alice', 25),
    ('Bob', 22),
    ('Charlie', 28),
    ('David', 21),
    ('Eve', 23),
    ('Frank', 26),
    ('Grace', 24),
    ('Hannah', 27),
    ('Isaac', 22),
    ('Jack', 30)
]

cursor.executemany("INSERT INTO mahasiswa VALUES (?, ?)", data_mahasiswa)

# Commit perubahan dan menutup koneksi
conn.commit()
# conn.close()

OperationalError: table mahasiswa already exists

Penjelasan:

Dalam contoh ini, kita membuat tabel dalam basis data SQLite ('mahasiswa') dan memasukkan beberapa data ke dalamnya.
Data mahasiswa disisipkan menggunakan executemany, yang memungkinkan kita untuk menyisipkan beberapa baris data sekaligus.
Setelah operasi selesai, perubahan dicommit dan koneksi ditutup.

# Intermediate

## contoh 1

Mengambil dan Menampilkan Data dari SQLite

In [7]:
import sqlite3

# conn = sqlite3.connect('mydatabase.db')
# cursor = conn.cursor()

# Meminta input pengguna
nama = input("Masukkan nama: ")

# Menjalankan perintah SQL
cursor.execute(f"SELECT * FROM mahasiswa WHERE nama = '{nama}'")

# Mengambil data
data = cursor.fetchall()

if data:
    for row in data:
        print("Nama:", row[0])
        print("Usia:", row[1])
else:
    print("Data tidak ditemukan.")

# conn.close()

Masukkan nama: Bob
Nama: Bob
Usia: 22

Penjelasan:

Dalam contoh ini, kita mengambil data dari basis data SQLite berdasarkan nama yang dimasukkan oleh pengguna.

Perintah SQL dijalankan untuk mencari data, dan data kemudian ditampilkan dalam format terstruktur.

Dalam contoh ini, kita menggunakan parameter dalam perintah SQL untuk menghindari risiko SQL injection.
Penggunaan parameter memungkinkan kita untuk mengamankan perintah SQL saat menggunakan input pengguna.

# Advanced

## contoh 1

 Kueri dan Penggabungan Tabel

In [8]:
import sqlite3

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

# Menjalankan kueri gabungan
cursor.execute("""SELECT mahasiswa.nama, mata_kuliah.kode
                FROM mahasiswa
                JOIN mata_kuliah
                ON mahasiswa.id = mata_kuliah.mahasiswa_id""")

data = cursor.fetchall()

for row in data:
    print("Nama Mahasiswa:", row[0])
    print("Kode Mata Kuliah:", row[1])

conn.close()

OperationalError: no such table: mata_kuliah

Penjelasan:

Dalam contoh ini, kita menjalankan kueri yang menggabungkan beberapa tabel dalam basis data.

Hasil kueri ditampilkan dalam format terstruktur.

## contoh 2

 Ekspor Hasil Kueri ke File CSV

In [9]:
import sqlite3
import csv

# conn = sqlite3.connect('mydatabase.db')
# cursor = conn.cursor()

# Menjalankan kueri
cursor.execute("SELECT * FROM mahasiswa")

data = cursor.fetchall()

with open('output.csv', 'w', newline='') as csv_file:
    csv_writer = csv.writer(csv_file)

    # Menulis header
    csv_writer.writerow([i[0] for i in cursor.description])

    # Menulis data
    csv_writer.writerows(data)

conn.close()

Penjelasan:

Dalam contoh ini, kita menjalankan kueri pada basis data SQLite dan menghasilkan hasilnya ke dalam file CSV.
Data yang diambil dari basis data ditulis ke dalam file CSV, termasuk header yang menjelaskan setiap kolom.