<a href="https://colab.research.google.com/github/davidivan13/Python-Fundamental/blob/main/Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import datetime as dt

In [2]:
tanggal_ultah = dt.datetime(2022, 10, 15)

In [3]:
string_date = tanggal_ultah.strftime("%d %b %Y")

In [4]:
dt.datetime.strptime(string_date, "%d %b %Y")

datetime.datetime(2022, 10, 15, 0, 0)

In [5]:
from datetime import datetime, timedelta

In [6]:
datetime.today() + timedelta(days = 10)

datetime.datetime(2025, 7, 22, 16, 13, 51, 584573)

In [7]:
from dateutil.relativedelta import relativedelta

In [8]:
relativedelta(datetime.today(), datetime.today() + relativedelta(days = 1))

relativedelta(days=-1, seconds=-1, microseconds=+999994)

In [9]:
from dateutil import tz

In [10]:
now = datetime.now(tz=tz.tzlocal())

In [11]:
now.tzname()

'UTC'

In [12]:
Wib = tz.gettz("Asia/Jakarta")

In [13]:
datetime.now(tz= Wib)

datetime.datetime(2025, 7, 12, 23, 13, 51, 670010, tzinfo=tzfile('/usr/share/zoneinfo/Asia/Jakarta'))

In [14]:
now.replace(tzinfo= Wib)

datetime.datetime(2025, 7, 12, 16, 13, 51, 636000, tzinfo=tzfile('/usr/share/zoneinfo/Asia/Jakarta'))