<a href="https://colab.research.google.com/github/davidivan13/Python-Fundamental/blob/main/Python_Fundamental_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Common Data Structure

In [1]:
# Lists

my_list = [] #create empty list
print(my_list)
my_list = [1, 2, 3, 'example', 3.14] #creating list with data
print(my_list)

[]
[1, 2, 3, 'example', 3.14]

In [2]:
# Dictionary
my_dict = {'First': 'Python', 'Second': 'Java'}
print(my_dict)
my_dict['Second'] = 'C++' #changing element
print(my_dict)
my_dict['Third'] = 'Ruby' #adding key-value pair
print(my_dict)

{'First': 'Python', 'Second': 'Java'}
{'First': 'Python', 'Second': 'C++'}
{'First': 'Python', 'Second': 'C++', 'Third': 'Ruby'}

In [3]:
# Tuple
my_tuple = (1, 2, 3, 'myskill') #create tuple
print(my_tuple)
print(my_tuple[0])
print(my_tuple[:])
print(my_tuple[3][4])

(1, 2, 3, 'myskill')
1
(1, 2, 3, 'myskill')
i

In [4]:
# Sets
my_set = {1, 2, 3, 4, 5, 5, 5} #create set
print(my_set)
my_set.add(4) #add element to set
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [5]:
my_set = {1, 2, 3, 4}
my_set_2 = {3, 4, 5, 6}
print(my_set.union(my_set_2), '----------', my_set | my_set_2)
print(my_set.intersection(my_set_2), '----------', my_set & my_set_2)
print(my_set.difference(my_set_2), '----------', my_set - my_set_2)
print(my_set.symmetric_difference(my_set_2), '----------', my_set ^ my_set_2)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6} ---------- {1, 2, 3, 4, 5, 6}
{3, 4} ---------- {3, 4}
{1, 2} ---------- {1, 2}
{1, 2, 5, 6} ---------- {1, 2, 5, 6}
set()

# Conditional Statement

In [6]:
# IF Statement
num = 5
if num > 0:
    print(num, "is a positive number.")
print("This statement is true.")

5 is a positive number.
This statement is true.

In [7]:
# IF Else Statement
num = 5
if num >= 0:
    print("Positive or Zero")
else:
     print("Negative number")

Positive or Zero

In [8]:
# IF, Elif, Else Statement
num = 0
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [9]:
# IF nested
num = 8
if num >= 0:
    if num == 0:
        print("zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

# Loops

In [10]:
# While Loop
num = 1
odd_nums = []
while num:
    if num % 2 != 0:
        odd_nums.append(num)
    if num >=20:
        break
    num += 1
print("Odd numbers: ", odd_nums)

Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
# For Loop
list = [1, 2, 3, 4, 5]
for num in list:
    print(num)

1
2
3
4
5

# Function

In [12]:
# Function with Return
def pow(a):
  return a**2

print(pow(2))
power = pow(2)
print(power)

4
4

In [13]:
def pow(a):
  print(a**2)

pow(2)

4